# 폴더 전체
wandb/
cifar10_png_linear_only/
data/
ddpm_cifar10_rgb/
checkpoints/
logs/
runs/
vis_ddim_*/
inversion_test_*/
vis_traj_*/

# 파일 확장자
*.pt
*.pth
*.ckpt
# *.npz
# *.png
*.jpg
*.safetensors
# *.json

# 기타 개발 환경/캐시
__pycache__/
.ipynb_checkpoints/
.DS_Store
.env
nohup.out

# 특정 파일 예외 처리
!ckpt_teacher_B1024_N65536_T100_step1000000.pt